---
import type { GetStaticPaths, MarkdownInstance } from "astro";
import { getUnixTime } from "date-fns";

import Base from "../../layouts/Base.astro";
import SubMain from "../../layouts/SubMain.astro";
import Post from "../../components/Post.astro";

export const getStaticPaths = (async () => {
  const allPosts = (await Astro.glob("../../content/blog/*.md")).sort(
    (a, b) =>
      getUnixTime(new Date(b.frontmatter.date)) -
      getUnixTime(new Date(a.frontmatter.date))
  );

  return allPosts.map((post) => {
    return { params: { slug: post.frontmatter.slug }, props: { post } };
  });
}) satisfies GetStaticPaths;

interface Props {
  post: MarkdownInstance<Record<string, any>>;
}

const { post } = Astro.props;
---

<Base
  title="MISTCLICK's blog"
  description="Here you can find all my blogposts, hot takes and thoughts. :)"
>
  <SubMain>
    <div class="w-full h-full p-6 flex justify-center">
      <div class="max-w-[55%]">
        <Post post={post} />
      </div>
    </div>
  </SubMain>
</Base>
