---
import { getUnixTime } from "date-fns";

import Base from "../../layouts/Base.astro";
import SubMain from "../../layouts/SubMain.astro";
import PostPreview from "../../components/PostPreview.astro";

const allPosts = await Astro.glob("../../content/blog/*.md");
const displayedPosts = allPosts
  .sort(
    (a, b) =>
      getUnixTime(new Date(b.frontmatter.date)) -
      getUnixTime(new Date(a.frontmatter.date)),
  )
  .filter((p) => !p.frontmatter.hidden);
---

<Base
  title="MISTCLICK's blog"
  description="Here you can find all my blogposts, hot takes and thoughts. :)"
>
  <SubMain>
    <div class="h-full w-full grow p-6">
      <h1 class="text-4xl font-bold">My latest posts and weird takes</h1>
      <div
        class="grid h-full w-full grid-cols-1 gap-x-12 py-6 min-[650px]:grid-cols-2"
      >
        {displayedPosts.map((p) => <PostPreview post={p} />)}
      </div>
    </div>
  </SubMain>
</Base>
