/* Theme Settings */

@import "tailwindcss";

@theme {
  --color-primary: #212121;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 150rem;
}

/* Global Classes */

* {
  min-height: 0;
  font-family: "Geist", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
