---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Base
  title="404 Not found"
  description="Hm. Nothing seems to be here. You probably made a mistake..."
>
  <div class="flex h-full w-full select-none flex-col">
    <Nav />
    <main
      class="font-inter flex grow items-center justify-center text-2xl max-md:p-10 md:text-5xl lg:text-7xl"
    >
      <div class="flex flex-col items-center gap-y-4 divide-y-2 md:gap-y-10">
        <div
          class="animate-bounce rounded-xl bg-neutral-700 p-2.5 text-white md:rounded-3xl md:p-5"
        >
          404
        </div>
        <a class="py-4 md:py-7" href="/">This page doesn't exist 😭</a>
      </div>
    </main>
    <Footer />
  </div>
</Base>
