---
import NodeCluster from "../components/react/NodeCluster";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Arina Vasiļjeva</title>
  </head>
  <body class="*:max-w-[1920px] *:mx-auto">
    <div id="hero" class="w-full h-192 group/hero">
      <h1 class="text-center text-6xl pt-30 tracking-widest font-light">
        My name is <span class="font-semibold tracking-wide">Arina</span> and I wear
        many faces...
      </h1>
      <NodeCluster client:load />
    </div>
  </body>
</html>
