---
const startYear = 2023;
---

<footer
  class="w-screen bg-neutral-800 text-white flex flex-col md:flex-row justify-around gap-20 font-inter p-5"
>
  <div class="flex flex-col gap-2">
    <span class="border-b">Links</span>
    <a class="foot-link" href="https://github.com/MISTCLICK">My GitHub</a>
    <a class="foot-link" href="https://github.com/MISTCLICK/mistclick-a-astro">
      This web page's GitHub repository
    </a>
    <a class="foot-link" href="/blog">Blog</a>
    <a class="foot-link" href="/about">About me</a>
    <a class="foot-link" href="https://vatsim.net">VATSIM</a>
  </div>
  <div class="flex flex-col gap-2 md:max-w-[33%]">
    <span class="border-b">Legal</span>
    <span>
      I am in no way affiliated with any of the technologies and companies
      mentioned on this page. Any logos, branding etc. belong to their
      respective copyright holders. Social media logos only represent links to
      my accounts in the respective social media. Technology logos such as
      Next.js, GitHub, etc. exclusively represent my use of respective
      technologies.
    </span>
    <span>
      Any and all code, text, and media on this web page and it's repository is
      open-source and is distributed under the MIT licence.
    </span>
  </div>
  <div class="flex flex-col gap-2">
    <span
      >© MISTCLICK {
        new Date().getFullYear() === startYear
          ? startYear
          : `${startYear}.-${new Date().getFullYear()}`
      }.</span
    >
    <span>Designed and built with ❤️</span>
  </div>
</footer>

<style>
  .foot-link {
    transform-origin: left center;
    transition: 0.2s;
  }

  .foot-link:hover {
    transform: scale(1.1);
  }

  .foot-link:not(:hover) {
    transform: scale(1);
  }
</style>
