---
import { Image } from "astro:assets";
---

<nav
  class="font-inter relative flex w-full bg-gradient-to-br from-amber-700 to-violet-700 p-5 text-white min-[500px]:justify-between"
>
  <div
    class="flex h-fit w-full flex-row gap-x-5 self-center justify-self-center md:w-fit"
    transition:name="nav-main"
  >
    <a href="/">
      <Image
        src="https://avatars.githubusercontent.com/u/56761784"
        alt="My GitHub avatar"
        width={1024}
        height={1024}
        class="w-12 select-none rounded-full drop-shadow-2xl md:w-20"
      />
    </a>

    <div class="hidden flex-col md:items-start min-[1200px]:flex">
      <a href="/" class="z-10 mt-3 text-2xl font-black md:font-extrabold">
        @MISTCLICK
      </a>
      <div
        class="relative flex w-[30ch] justify-center text-center md:w-[50ch] md:text-left"
      >
        <a
          href="/blog"
          class="animate-slogan-1 absolute left-0 top-0 w-full text-lg font-medium md:font-normal"
        >
          Learn. Innovate. Spread. 📚
        </a>
        <a
          href="https://stats.vatsim.net/stats/1433887"
          class="animate-slogan-2 absolute left-0 top-0 w-full text-lg font-medium md:font-normal"
        >
          Aviate. Educate. Communicate. ✈️
        </a>
      </div>
    </div>
  </div>
  <div
    class="-ml-4 flex gap-x-5 gap-y-2 self-center font-semibold underline-offset-[0.3rem] max-sm:text-sm max-[500px]:flex-col max-[400px]:text-xs sm:text-lg md:mr-5 md:text-xl"
  >
    <a
      href="/about"
      class="truncate hover:underline"
      transition:name="about-link">Who am I?</a
    >
    <a
      href="/projects"
      class="truncate hover:underline"
      transition:name="projects-link">What do I do?</a
    >
    <a
      href="/blog"
      class="truncate hover:underline"
      transition:name="blog-link"
    >
      My blog</a
    >
    <a
      href="/contact"
      class="truncate hover:underline"
      transition:name="contact-link">Contact me</a
    >
  </div>
</nav>

<style>
  @keyframes slogan {
    from {
      transform: translateY(-1.5rem);
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    45% {
      transform: translateY(0rem);
      opacity: 1;
    }

    55% {
      transform: translateY(0rem);
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    to {
      transform: translateY(1.5rem);
      opacity: 0;
    }
  }

  .animate-slogan-1 {
    animation: slogan 10s infinite;
  }

  .animate-slogan-2 {
    transform: translateY(-1.5rem);
    opacity: 0;
    animation: slogan 10s infinite;
    animation-delay: 5s;
  }
</style>
