---
import { Image } from "astro:assets";
import NavBtns from "./NavBtns.astro";
---

<nav
  class="font-inter relative flex h-[70%] w-full flex-col bg-gradient-to-br from-amber-700 to-violet-700 text-white"
>
  <div class="flex h-full w-full">
    <div
      class="flex h-fit w-full flex-col items-center gap-x-10 gap-y-5 self-center justify-self-center md:w-fit md:flex-row md:pl-20"
      transition:name="nav-main"
    >
      <Image
        src="https://avatars.githubusercontent.com/u/56761784"
        alt="My GitHub avatar"
        width={1024}
        height={1024}
        class="w-36 select-none rounded-full drop-shadow-2xl md:w-48"
      />
      <div
        class="flex flex-col items-center justify-center gap-y-4 md:items-start"
      >
        <span class="z-10 text-xl font-black md:text-5xl md:font-extrabold">
          @MISTCLICK
        </span>
        <div
          class="relative flex w-[30ch] justify-center text-center md:w-[50ch] md:text-left"
        >
          <a
            href="/blog"
            class="animate-slogan-1 absolute left-0 top-0 w-full text-lg font-medium md:text-2xl md:font-normal"
          >
            Learn. Innovate. Spread. 📚
          </a>
          <a
            href="https://stats.vatsim.net/stats/1433887"
            class="animate-slogan-2 absolute left-0 top-0 w-full text-lg font-medium md:text-2xl md:font-normal"
          >
            Aviate. Educate. Communicate. ✈️
          </a>
        </div>
      </div>
    </div>
    <NavBtns />
  </div>
  <div class="absolute bottom-0 flex w-full justify-evenly overflow-hidden">
    {
      new Array(50).fill(0).map(() => (
        <div class="dot-wrap relative float-left h-24 px-6 transition-transform md:hover:-translate-y-20">
          <span class="dot absolute bottom-2 rounded-full border-4 border-white" />
        </div>
      ))
    }
  </div>
</nav>

<style>
  @keyframes slogan {
    from {
      transform: translateY(-3rem);
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    45% {
      transform: translateY(0rem);
      opacity: 1;
    }

    55% {
      transform: translateY(0rem);
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    to {
      transform: translateY(3rem);
      opacity: 0;
    }
  }

  .animate-slogan-1 {
    animation: slogan 10s infinite;
  }

  .animate-slogan-2 {
    transform: translateY(-3rem);
    opacity: 0;
    animation: slogan 10s infinite;
    animation-delay: 5s;
  }
</style>
