---
import { Image } from "astro:assets";
import NavBtns from "./NavBtns.astro";
---

<nav
  class="w-full h-[70%] bg-gradient-to-br from-amber-700 to-violet-700 text-white flex flex-col font-inter relative"
>
  <div class="w-full h-full flex">
    <div
      class="md:pl-20 flex flex-col items-center md:flex-row gap-x-10 gap-y-5 h-fit self-center justify-self-center w-full md:w-fit"
    >
      <Image
        src="https://avatars.githubusercontent.com/u/56761784"
        alt="My GitHub avatar"
        width={1024}
        height={1024}
        class="w-36 md:w-48 rounded-full drop-shadow-2xl"
      />
      <div
        class="flex flex-col justify-center items-center md:items-start gap-y-4"
      >
        <span class="text-xl md:text-5xl font-black md:font-extrabold"
          >@MISTCLICK</span
        >
        <div
          class="relative w-[30ch] md:w-[50ch] flex justify-center text-center md:text-left"
        >
          <a
            href="/blog"
            class="w-full text-lg md:text-2xl font-medium md:font-normal absolute top-0 left-0 animate-slogan-1"
            >Learn. Innovate. Spread. 📚
          </a>
          <a
            href="https://stats.vatsim.net/stats/1433887"
            class="w-full text-lg md:text-2xl font-medium md:font-normal absolute top-0 left-0 animate-slogan-2"
            >Aviate. Educate. Communicate. ✈️
          </a>
        </div>
      </div>
    </div>
    <NavBtns />
  </div>
  <div class="absolute bottom-0 w-full flex justify-evenly overflow-hidden">
    {
      new Array(50).fill(0).map(() => (
        <div class="md:hover:-translate-y-20 transition-transform float-left h-24 px-6 relative dot-wrap">
          <span class="absolute bottom-2 border-4 border-white rounded-full dot" />
        </div>
      ))
    }
  </div>
</nav>

<style>
  @keyframes slogan {
    from {
      transform: translateY(-3rem);
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    45% {
      transform: translateY(0rem);
      opacity: 1;
    }

    55% {
      transform: translateY(0rem);
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    to {
      transform: translateY(3rem);
      opacity: 0;
    }
  }

  .animate-slogan-1 {
    animation: slogan 10s infinite;
  }

  .animate-slogan-2 {
    transform: translateY(-3rem);
    opacity: 0;
    animation: slogan 10s infinite;
    animation-delay: 5s;
  }
</style>
