---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<div class="w-full h-full flex flex-col justify-between">
  <Nav />
  <main class="w-full pb-6 font-inter flex flex-col">
    <slot />
  </main>
  <Footer />
</div>
