---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<div class="font-inter flex h-full w-full flex-col justify-between">
  <Nav />
  <slot />
  <Footer />
</div>
